<h3 class="header">{{"TEACHER.LIST.SubjectList" | translate}}</h3>
<div class="left-content">
    <mat-card style="cursor: pointer" *ngFor="let subject of subjects" (click)="viewDetail(subject.id, subject.teacherId)"
              [ngClass]="isTeaching(subject.teacherId, subject.startDate)">
        <mat-card-header>
            <mat-card-title>
                <b>[{{subject.code}}] {{subject.name}}</b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span class="teacher-in-subject">{{"TEACHER.LIST.Teacher" | translate}}: {{subject.teacherName}}</span>
            <span>{{"TEACHER.LIST.Week" | translate}}: {{(calculateWeek(subject.startDate) > 15 ? 'Finished' : calculateWeek(subject.startDate))}}</span>
        </mat-card-content>
    </mat-card>
</div>
<div class="right-content">
    <div class="width-100">
        <div class="width-50 float-left">
            <div class="width-50 height-50 teaching margin-left-40 border-all"></div>
        </div>
        <div class="width-50 height-50 float-left center margin-bottom-20">
            {{"TEACHER.LIST.Teaching" | translate}}
        </div>
        <div class="width-50 float-left">
            <div class="width-50 height-50 not-teaching margin-left-40 border-all"></div>
        </div>
        <div class="width-50 height-50 float-left center margin-bottom-20">
            {{"TEACHER.LIST.OtherTeacher" | translate}}
        </div>
        <div class="width-50 float-left">
            <div class="width-50 height-50 taught margin-left-40 border-all"></div>
        </div>
        <div class="width-50 height-50 float-left center margin-bottom-20">
            {{"TEACHER.LIST.Taught" | translate}}
        </div>
    </div>
    <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate">
        </mat-calendar>
    </div>
</div>
