label {

  margin-top: 10px;
}

.disabled {
  color: #4B4B4B;
}

.viewAction {
  cursor: not-allowed;
}

.deviceDto {
  border-radius: 15px;
  margin-top: 20px;
  background-color: #ebebeb;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 20px;
}

.selected {
  background-color: #EEC9C7;
}

.unselected {
  background-color: white;
}

.choosedDevices {
  width: 45%;
  float: left;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.unchoosedDevices {
  width: 45%;
  float: right;
  margin: auto;
  text-align: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
}

.buttonMove {
  width: 10%;
  float: left;
  height: 100%;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.buttonTop {
  width: 60%;
  margin-bottom: 10%;
  color: green;
  font-size: 25px;
  cursor: pointer;
}

.buttonBottom {
  width: 60%;
  color: red;
  font-size: 25px;
  transform: rotate(180deg);
  cursor: pointer;
}

.containerDevices {
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.responsive-table {
  li {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .table-row {
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  }
}

::ng-deep .horizontal-app-menu.fixed-header .header {

  z-index: 700;
}

.formBox {

  max-width: 1000px;
}

.buttonBox {

  min-width: 90px;
}

.form {
  max-width: 1000px;
}
