<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard" class="container">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <h3 class="header">
                <span *ngIf="ACTION === 'NEW'">{{"ADMIN.New" | translate}} {{"ADMIN.CRUD.STUDENT.Student" | translate}}</span>
                <span *ngIf="ACTION === 'EDIT'">{{"ADMIN.Edit" | translate}} {{"ADMIN.CRUD.STUDENT.Student" | translate}}</span>
            </h3>
            <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content" *ngIf="ACTION === 'NEW'">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Username' | translate}}" formControlName="username">
                        <mat-error
                                *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                            {{'ADMIN.CRUD.STUDENT.Username' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Password' | translate}}" formControlName="password" type="password">
                        <mat-error
                                *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                            {{'ADMIN.CRUD.STUDENT.Password' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Name' | translate}}" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            {{'ADMIN.CRUD.STUDENT.Name' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

<!--                <div fxLayout="row wrap" fxLayoutAlign="space-between center">-->
<!--                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">-->
<!--                        <input matInput placeholder="{{'ADMIN.Code' | translate}}" formControlName="code" type="number">-->
<!--                        <mat-error *ngIf="!formGroup.controls['code'].valid && formGroup.controls['code'].touched">-->
<!--                            {{'ADMIN.Code' | translate}} {{'ERROR.IsRequired' | translate}}-->
<!--                        </mat-error>-->
<!--                    </mat-form-field>-->
<!--                </div>-->

                <div class="pad-wrap justify-content-end">
                    <mat-card-actions class="float-right">
                        <button mat-raised-button color="warn" type="button"
                                (click)="onCancel()">{{'BUTTON.Cancel'|translate}}</button>
                        <button mat-raised-button color="primary" type="submit" class="button"
                                [disabled]="!formGroup.valid">
                            {{'BUTTON.Submit' | translate}}
                        </button>
                    </mat-card-actions>
                </div>

            </form>
        </div>
        <div class="gene-card-content" *ngIf="ACTION === 'EDIT'">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Username' | translate}}" formControlName="username">
                        <mat-error
                                *ngIf="!formGroup.controls['username'].valid && formGroup.controls['username'].touched">
                            {{'ADMIN.CRUD.STUDENT.Username' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

<!--                <div fxLayout="row wrap" fxLayoutAlign="space-between center">-->
<!--                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">-->
<!--                        <input matInput placeholder="{{'ADMIN.Password' | translate}}" formControlName="password" type="password">-->
<!--                        <mat-error-->
<!--                                *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">-->
<!--                            {{'ADMIN.Password' | translate}} {{'ERROR.IsRequired' | translate}}-->
<!--                        </mat-error>-->
<!--                    </mat-form-field>-->
<!--                </div>-->

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Name' | translate}}" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            {{'ADMIN.CRUD.STUDENT.Name' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Code' | translate}}" formControlName="code" type="number">
                        <mat-error *ngIf="!formGroup.controls['code'].valid && formGroup.controls['code'].touched">
                            {{'ADMIN.CRUD.STUDENT.Code' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Age' | translate}}" formControlName="age" type="number">
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.PhoneNumber' | translate}}" formControlName="phone" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Email' | translate}}" formControlName="email" type="text">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                            {{'ADMIN.CRUD.STUDENT.Email' | translate}} {{'ERROR.IsInvalid' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.Address' | translate}}" formControlName="address" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'ADMIN.CRUD.STUDENT.AvatarUrl' | translate}}" formControlName="avatar" type="text">
                    </mat-form-field>
                </div>

                <div class="pad-wrap justify-content-end">
                    <mat-card-actions class="float-right">
                        <button mat-raised-button color="warn" type="button"
                                (click)="onCancel()">{{'BUTTON.Cancel'|translate}}</button>
                        <button mat-raised-button color="primary" type="submit" class="button"
                                [disabled]="!formGroup.valid">
                            {{'BUTTON.Submit' | translate}}
                        </button>
                    </mat-card-actions>
                </div>
            </form>
        </div>
    </mat-card>
</div>
