<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard container">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <h3 class="header">
                <span *ngIf="ACTION === 'NEW'">{{"BUTTON.New" | translate}} {{"TEACHER.LIST.RequestRubric" | translate}}</span></h3>
            <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content" *ngIf="ACTION === 'NEW'">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form">

                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <mat-form-field class="form-element" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                        <input matInput placeholder="{{'TEACHER.LIST.Name' | translate}}" formControlName="name">
                        <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                            {{'TEACHER.LIST.Name' | translate}} {{'ERROR.IsRequired' | translate}}
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="pad-wrap justify-content-end">
                    <mat-card-actions class="float-right">
                        <button mat-raised-button color="warn" type="button"
                                (click)="onCancel()">{{'BUTTON.Cancel'|translate}}</button>
                        <button mat-raised-button color="primary" type="submit" class="button"
                                [disabled]="!formGroup.valid">
                            {{'BUTTON.Submit' | translate}}
                        </button>
                    </mat-card-actions>
                </div>

            </form>
        </div>
    </mat-card>
</div>
