<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard container">
    <mat-card fxFlex="100%">
        <div class="gene-card-title">
            <h3 class="header">
                <span>{{"TEACHER.POINT.View" | translate}} {{"TEACHER.POINT.Point" | translate}}</span>
            </h3>
            <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content">
            <div class="form">
                <h4>{{"TEACHER.POINT.StudentCode" | translate}}: {{student.code}}</h4>
                <h4>{{"TEACHER.POINT.StudentName" | translate}}: {{student.name}}</h4>
                <div class="point-container">
                    <ul class="responsive-table">
                        <li class="table-row"
                            *ngFor="let point of studentPoint.studentRubricPointDtoList; index as i">
                            <div class="col col-2 row justify-content-center align-self-center"><span>[{{(100 * point.rubricImportantImportant / totalPoint).toFixed(2)}} %]</span></div>
                            <div class="col col-5 row justify-content-center align-self-center"><span title="{{point.rubricImportantName}}">{{point.rubricImportantName}}</span></div>
                            <div class="col col-5 row justify-content-center align-self-center">
                                <mat-select [(value)]="point.point" [disabled]="true" title="{{getText(point.point)}}">
                                    <mat-option *ngFor="let ps of pointSelelct" [value]="ps" title="{{getText(ps)}}">{{getText(ps)}}</mat-option>
                                </mat-select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pad-wrap justify-content-end">
                <mat-card-actions class="float-right">
                    <button mat-raised-button color="warn" type="button"
                            (click)="onCancel()">{{'BUTTON.Cancel'|translate}}</button>
                </mat-card-actions>
            </div>
        </div>
    </mat-card>
</div>
