<div class="width-100 float-left">
    <h3 class="header">{{"STUDENT.SUBJECT.Rubric" | translate}}</h3>
    <div class="subject-name">
        <h4>[{{subject?.code}}] {{subject?.name}}</h4>
        <h5>{{"STUDENT.SUBJECT.Teacher" | translate}}: {{subject?.teacherName}}</h5>
        <h5>{{"STUDENT.SUBJECT.StartDate" | translate}}: {{subject?.startDate}} [{{"STUDENT.SUBJECT.Week" | translate}} {{calculateWeek(subject?.startDate)}}]</h5>
    </div>
</div>
<div class="width-100 float-left">
    <mat-nav-list>
        <a mat-list-item
           target="_blank"
           *ngFor="let rubric of rubrics">
            <span class="width-80">{{rubric.rubricName}}</span>
            <span class="width-20">[{{(rubric.important / total * 100).toFixed(2)}}%]</span>
        </a>
    </mat-nav-list>
</div>
