<div class="width-100">
    <div class="width-90">
        <h3 class="header">{{"ADMIN.RequestRubric" | translate}}</h3>
    </div>
    <div class="right width-10">
        <button mat-raised-button color="primary"
                (click)="newItem()">{{'BUTTON.New'|translate}}</button>
    </div>
</div>
<div class="table-container">
    <div class="example-container mat-elevation-z8">

        <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ADMIN.Name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="user">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ADMIN.UserSend' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.requestUser}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="created">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ADMIN.IsCreated' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.created}} </mat-cell>
            </ng-container>

            Action Column
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ADMIN.Edit' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                            color="primary" (click)="edit(element.rubricId)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <!--            <ng-container matColumnDef="delete">-->
            <!--                <mat-header-cell *matHeaderCellDef mat-sort-header>{{'ADMIN.Delete' | translate}}</mat-header-cell>-->
            <!--                <mat-cell *matCellDef="let element">-->
            <!--                    <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"-->
            <!--                            (click)="delete(element.id)" color="warn">-->
            <!--                        <mat-icon>delete</mat-icon>-->
            <!--                    </button>-->
            <!--                </mat-cell>-->
            <!--            </ng-container>-->

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

    </div>
</div>
