.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-20 {
  width: 20%;
}

.height-200px {
  height: 200px;
}

.float-left {
  float: left;
}

.header {
  border-left: 5px solid #448AFF;
  margin-left: 10px;
}

.subject-name {
  margin-top: 20px;
  margin-left: 20px;
}

.subject-button {
  width: 40%;
  float: left;
  margin-top: 20px
}

.learned {
  background-color: #dff0d8 !important;
}

.week {
  margin-top: 20px;
  margin-left: 20px;
  border-left: 5px solid #448AFF;
  width: 90%;
  background-color: #CFD8DC;
}

.week-text {
  font-size: 22px;
}

.week-content {
  padding: 10px;
  width: 90%;
  margin-left: 20px;
}

.week-content-text {
  margin-top: 5px;
}

.week-content-checkbox {
  margin-left: auto;
  margin-right: 0;
  float: right;
}
