<div class="width-80 float-left">
    <h3 class="header">{{"STUDENT.SUBJECT.Subject" | translate}}</h3>
    <div class="subject-name">
        <h4>[{{subject?.code}}] {{subject?.name}}</h4>
        <h5>{{"STUDENT.SUBJECT.Teacher" | translate}}: {{subject?.teacherName}}</h5>
        <h5>{{"STUDENT.SUBJECT.StartDate" | translate}}: {{subject?.startDate}} [{{"STUDENT.SUBJECT.Week" | translate}} {{calculateWeek(subject?.startDate)}}]</h5>
    </div>
</div>
<div class="width-20 float-left">
    <div class="width-100 margin-top-20">
        <button mat-raised-button color="primary" class="subject-button"
                (click)="goStudentList(subject.id)">{{"STUDENT.SUBJECT.StudentList" | translate}}</button>
    </div>
    <div class="width-100 margin-top-20">
        <button mat-raised-button color="primary" class="subject-button"
                (click)="goViewPoint(subject.id)">{{"STUDENT.SUBJECT.Point" | translate}}</button>
    </div>
    <div class="width-100 margin-top-20">
        <button mat-raised-button color="primary" class="subject-button"
                (click)="goViewRubric(subject.id)">{{"STUDENT.SUBJECT.Rubrics" | translate}}</button>
    </div>
    <div class="width-100 margin-top-20">
        <button mat-raised-button color="primary" class="subject-button"
                (click)="goRate(subject.id)">{{"STUDENT.SUBJECT.Rate" | translate}}</button>
    </div>
</div>
<div class="width-100 float-left">
    <div *ngFor="let wNum of weekNumber">
        <div class="week" [ngClass]="getWeekColor(wNum, subject?.startDate)">
            <span class="week-text">{{"STUDENT.SUBJECT.Week" | translate}} {{wNum}}</span>
        </div>
        <div class="week-content">
            <ul>
                <li class="week-content-text">
                    Content 1
                    <input type="checkbox" class="week-content-checkbox">
                </li>
                <li class="week-content-text">
                    Content 2
                    <input type="checkbox" class="week-content-checkbox">
                </li>
                <li class="week-content-text">
                    Content 3
                    <input type="checkbox" class="week-content-checkbox">
                </li>
            </ul>
        </div>
    </div>

</div>
