<div class="crm-container">
    <header class="header">
        <div class="header__text-box">
            <h3 class="heading-primary">
                <span class="heading-primary--main">UET Rating</span>
                <span class="heading-primary--sub">Developed by Group 7</span>
            </h3>
            <a href="/#/subject/list" class="btn btn--white btn--animated">Rating Subject</a>
        </div>
    </header>
    <div class="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Story about us
            </h2>
        </div>
        <div class="row" style="width: 66%">
            <div class="col-1-of-2" style="padding-right: 50px">
                <h3 class="heading-teritairy">
                    Members of Group 7
                </h3>
                <p class="paragraph">
                    <span>Ngô Quốc Đạt (LEADER) - 17020673</span><br>
                    <span>Nguyễn Tài Nhật Minh - 17020897</span><br>
                    <span>Thân Chí Đạt - 17020678</span><br>
                    <span>Nguyễn Ngọc Diệu - 17020635</span><br>
                    <span>Lê Công Dũng - 17020642</span><br>
                    <span>Bùi Quang Minh - 17020888</span><br>
                    <span>Nguyễn Quang Hưng - 17020815</span><br>
                </p>
                <hr>
                <h3 class="heading-teritairy">
                    about my application
                </h3>
                <p>
                    <span>DATABASE: MySQL</span><br>
                    <span>BACKEND: Java Spring Boot</span><br>
                    <span>FRONTEND: Angular CLI 10</span>
                </p>
                <hr>
                <h3 class="heading-teritairy">
                    thanks for the supports
                </h3>
                <p>
                    <span>TEACHER: Dương Lê Minh</span><br>
                    <span>SUPPORT DOMAIN: Group 12</span><br>
                    <span>SUPPORT TO DEPLOY: Group 3</span><br>
                    <span>ANOTHER SUPPORT: Group 4, 13</span>
                </p>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="../../../assets/img/vnu.png" alt="photo1" class="composition__photo composition__photo--p1"/>
                    <img src="../../../assets/img/uet.png" alt="photo2" class="composition__photo composition__photo--p2"/>
                    <img src="../../../assets/img/g7.jpg" alt="photo3" class="composition__photo composition__photo--p3"/>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-primary-overlay text-white mt-4">
        <div class="container-fluid py-3">
            <div class="row">
                <div class="col-md-3">
                    <h5>UET RATING</h5></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-6">A learning aid application! <span class="small"><br>Developed by Group 7.</span></div>
                <div class="col-md-3"></div>
                <div class="col-md-3 text-right small align-self-end">
                    <small>©2020 VNU, UET.</small>
                </div>
            </div>
        </div>
    </footer>
</div>
