.header {
  border-left: 5px solid #448AFF;
  margin-left: 10px;
}

.k-widget {
  font-family: 'Arial Unicode MS', serif;
}

kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial Unicode MS", sans-serif;
  font-size: 12px;
}

.float-left {
  float: left;
}

.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

.width-20 {
  width: 20%;
}

.margin-top-20 {
  margin-top: 20px;
}

.subject-name {
  margin-top: 20px;
  margin-left: 20px;
}

.mat-cell{
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.mat-header-cell{
  display: table-cell;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  background-color: cornflowerblue;
  //color: white;
  font-size: 16px;
  font-weight: bold;
}

.mat-column-rubric0 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric1 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric2 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric3 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric4 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric5 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric6 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric7 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric8 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric9 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric10 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric11 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric12 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric13 {
  width: 7% !important;
  text-align: center;
}

.mat-column-rubric14 {
  width: 7% !important;
  text-align: center;
}

.mat-column-id {
  width: 8% !important;
  text-align: center !important;
}

.mat-column-code {
  width: 5% !important;
  text-align: center;
}

.mat-column-name {
  width: 12% !important;
  text-align: center;
}

.mat-column-totalPoint {
  width: 7% !important;
  text-align: center;
}

.mat-column-gpaPoint {
  width: 7% !important;
  text-align: center;
}

.mat-column-totalPointString {
  width: 7% !important;
  text-align: center;
}

.mat-column-passed {
  width: 4% !important;
  text-align: center;
}

.mat-column-option {
  width: 15% !important;
  text-align: center;
}
