<h3 class="header">{{"SUBJECT.SubjectList" | translate}}</h3>
<div class="left-content">
    <mat-card *ngFor="let subject of subjects" (click)="viewDetail(subject.id, subject.teacherId)" class="teaching">
        <mat-card-header>
            <mat-card-title>
                <b>[{{subject.code}}] {{subject.name}}</b>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span class="teacher-in-subject">{{"SUBJECT.Teacher" | translate}}: {{subject.teacherName}}</span>
            <span>{{"SUBJECT.Week" | translate}}: {{(calculateWeek(subject.startDate) > 15 ? 'Finished' : calculateWeek(subject.startDate))}}</span>
        </mat-card-content>
    </mat-card>
</div>
<div class="right-content">
    <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate">
        </mat-calendar>
    </div>
</div>
